<div class="card p-3 m-2">
    <h2 class="card-title">
        <em *ngIf="quiz.theme==='Actor'"  class="fas fa-film"></em>
        
       {{quiz.name}}
    </h2>
    <div class="card-subtitle">
        Theme : {{quiz.theme}}
    </div>
    <div>
        Créé le {{quiz.date | date}}
    </div>
    <div>
        <button class="ml-1 mr-1 btn btn-success" (click)="selectQuiz()">Select</button>
        <button class="ml-1 mr-1 btn btn-danger" (click)="deleteQuiz()">Supprimer</button>
    </div>
    
</div>